
<div class="beverage-card">
  <h1>{{beverage.name}}</h1>
  <p>{{beverage.description}}</p>
  <figure>
    <figcaption>Ingredients</figcaption>
    <ul>
      {{#each beverage.ingredients as |ingredient|}}
        <li>{{ingredient}}</li>
      {{/each}}
    </ul>
  </figure>
</div>

