<div class="card">
            <img class="card-img-top" src="" alt="Drink picture">
            <div class="card-body">
                <h5 class="card-title">Drink Name</h5>
                <p class="card-text">Drink Description</p>
            </div>
            <ul class="list-group list-flush">
                {{#each ingredients as |ingredient|}}
                    <li class="list-group-item">{{ingredient}}</li>
                {{/each}}
            </ul>
            <div class="card-body">
                <a href="/" class="btn btn-primary">Reviews</a>
                <a href="/" class="btn btn-primary">Add to Cart!</a>
            </div>
        </div>