<div class="card">
  <img class="card-img-top" src="" alt="Drink picture">
  <div class="card-body">
    <h5 class="card-title">{{beverage.name}}</h5>
    <p class="card-text">{{beverage.description}}</p>
    <a href="/" class="btn btn-primary">Try it!</a>
  </div>
</div>