<body>
    <aside>
        {{> small-beverage-details}}
        {{> small-beverage-details}}
        {{> small-beverage-details}}
        {{> small-beverage-details}}
    </aside>
    <main>
        {{> beverage-details}}
        {{> beverage-details}}
    </main>
</body>