<body>
    {{!-- <aside>
        {{> small-beverage-details}}
        {{> small-beverage-details}}
        {{> small-beverage-details}}
        {{> small-beverage-details}}
    </aside> --}}
    <main>
       {{#each beverages as |beverage|}}
        {{> beverage-details}}
    {{/each}}
    </main>
</body>