<h1>Welcome {{name}}</h1>

<br/>
<h2>Create a Recipe</h2>
<form class="addBeverage" action="/api/beverages" method="POST">
  <label>Drink Name</label>
  <input type="text" id="beverage_name" name="beverage_name" placeholder="Tasty Drink" required>
  <label>Drink Instructions</label>
  <textarea type="text" id="description" name="description" placeholder="Description" required></textarea>
  <label>Ingredients</label>
  <select id="ingredientDrop">
    {{#each ingredients}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <label>Parts</label>
  <input type="number" id="ingredientParts" name="ingredientParts" min="1" required>
  <button type="button" id="addIngredient">Add Ingredient</button>
  <ul id="ingredientList"></ul>
  <button type="submit">Create</button>
</form>



<script src="/js/add-beverage.js"></script>
