:root {
    --cambridge-blue: #8da999ff;
    --coyote: #786f52ff;
    --brilliant-rose: #f15bb5ff;
    --sunglow: #ffc857ff;
    --tea-green: #bfffbcff;
    --light: #ebebeb;
    --light-dark: #d4d4d4;
    --primary: #8da999ff; /* Default primary color */
    --secondary: #f15bb5ff; /* Secondary color for headers */
    --tertiary: #ffc857ff; /* Tertiary color for highlights */
    --dark: #786f52ff; /* Dark color for text */
    --border-radius: 0.3rem;

    /* Gradients using all 5, kinda yuck */
    --gradient-top: linear-gradient(0deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-right: linear-gradient(90deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-bottom: linear-gradient(180deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-left: linear-gradient(270deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-top-right: linear-gradient(45deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-bottom-right: linear-gradient(135deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-top-left: linear-gradient(225deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-bottom-left: linear-gradient(315deg, var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-radial: radial-gradient(var(--cambridge-blue), var(--coyote), var(--brilliant-rose), var(--sunglow), var(--tea-green));

    /* pair gradients */
    --gradient-cambridge-coyote: linear-gradient(90deg, var(--cambridge-blue), var(--coyote));
    --gradient-cambridge-brilliant: linear-gradient(90deg, var(--cambridge-blue), var(--brilliant-rose));
    --gradient-cambridge-sunglow: linear-gradient(90deg, var(--cambridge-blue), var(--sunglow));
    --gradient-cambridge-tea: linear-gradient(90deg, var(--cambridge-blue), var(--tea-green));
    --gradient-coyote-brilliant: linear-gradient(90deg, var(--coyote), var(--brilliant-rose));
    --gradient-coyote-sunglow: linear-gradient(90deg, var(--coyote), var(--sunglow));
    --gradient-coyote-tea: linear-gradient(90deg, var(--coyote), var(--tea-green));
    --gradient-brilliant-sunglow: linear-gradient(90deg, var(--brilliant-rose), var(--sunglow));
    --gradient-brilliant-tea: linear-gradient(90deg, var(--brilliant-rose), var(--tea-green));
    --gradient-sunglow-tea: linear-gradient(90deg, var(--sunglow), var(--tea-green));

    /* triple gradients */
    --gradient-cambridge-brilliant-sunglow-90deg: linear-gradient(90deg, var(--cambridge-blue), var(--brilliant-rose), var(--sunglow));
    --gradient-cambridge-brilliant-sunglow-180deg: linear-gradient(180deg, var(--cambridge-blue), var(--brilliant-rose), var(--sunglow));
    --gradient-cambridge-brilliant-sunglow-270deg: linear-gradient(270deg, var(--cambridge-blue), var(--brilliant-rose), var(--sunglow));
    --gradient-cambridge-brilliant-sunglow-45deg: linear-gradient(45deg, var(--cambridge-blue), var(--brilliant-rose), var(--sunglow));
    
    --gradient-cambridge-brilliant-tea-90deg: linear-gradient(90deg, var(--cambridge-blue), var(--brilliant-rose), var(--tea-green));
    --gradient-cambridge-brilliant-tea-180deg: linear-gradient(180deg, var(--cambridge-blue), var(--brilliant-rose), var(--tea-green));
    --gradient-cambridge-brilliant-tea-270deg: linear-gradient(270deg, var(--cambridge-blue), var(--brilliant-rose), var(--tea-green));
    --gradient-cambridge-brilliant-tea-45deg: linear-gradient(45deg, var(--cambridge-blue), var(--brilliant-rose), var(--tea-green));
    
    --gradient-cambridge-sunglow-tea-90deg: linear-gradient(90deg, var(--cambridge-blue), var(--sunglow), var(--tea-green));
    --gradient-cambridge-sunglow-tea-180deg: linear-gradient(180deg, var(--cambridge-blue), var(--sunglow), var(--tea-green));
    --gradient-cambridge-sunglow-tea-270deg: linear-gradient(270deg, var(--cambridge-blue), var(--sunglow), var(--tea-green));
    --gradient-cambridge-sunglow-tea-45deg: linear-gradient(45deg, var(--cambridge-blue), var(--sunglow), var(--tea-green));
    
    --gradient-brilliant-sunglow-tea-90deg: linear-gradient(90deg, var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-brilliant-sunglow-tea-180deg: linear-gradient(180deg, var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-brilliant-sunglow-tea-270deg: linear-gradient(270deg, var(--brilliant-rose), var(--sunglow), var(--tea-green));
    --gradient-brilliant-sunglow-tea-45deg: linear-gradient(45deg, var(--brilliant-rose), var(--sunglow), var(--tea-green));
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--cambridge-blue);
}

header {
    padding: 40px;
    text-align: center;
    background-image: var(--gradient-cambridge-brilliant-sunglow-45deg);
    color: var(--brilliant-rose);
    position: relative; /* I need this for the ::after element */
    border-bottom-style: solid;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--gradient-cambridge-brilliant-tea-270deg); 
    z-index: 1; 
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

aside {
    background-color: var(--cambridge-blue);
    padding: 8px;
    text-align: left;
    color: var(--light);
    width: 30%;
    margin: 5px;
    border-color: var(--coyote);
    border-style: dotted;
    border-width: medium;
}

footer {
    background: var(--coyote);
    color: var(--brilliant-rose);
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login {
    background-color: var(--coyote);
    width: 60%;
    padding: 10px;
    margin: 10px;
}

.nav-item {
    display: flex;
    background-color: var(--tea-green);
}

.beverage-card {
    background-color: var(--coyote);
    width: 60%;
    padding: 10px;
    margin: 10px;
    float: right;
    clear: both;
}

.card-header {
    color: var(--light);
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: dotted;
    border-width: medium;
}

.add-beverage-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 5px;
    text-align: center;
    background-color: var(--tertiary);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.bev-img {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bev-card {
    width: 500px;
}